<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QACommunity - Home</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="wrapper">
<div class="top-banner">
    Welcome, Ask anything ethical here!
</div>
<header class="page-header">
    <a href="/"><div class="brand">QA Community</div></a>
    <ul class="nav">
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>                        
    </ul>
    <div class="userInfo">   
        <% if(cookies) {%>                
            <a class="signup" href="/signout">Signout(<%=name%></a>
        <% }else{%>        
        <a class="signin" href="/signin">SIGN In</a>
        <a class="signup" href="/signup">Register</a>
        <%}%>
    </div>

</header>  