    <%- include("header") -%>
    <main class="page-body">
        
        <div class="content">
            <% if(cookies) {%>
                <div class="userMenu"> Add Question </div>
            <%}%>
            This is home page
        </div>
    </main>
    <%- include("footer") -%>