<%- include("header") -%>
<main class="page-body">
    <div class="content">
     
        <div class="box">
            <form action="/signin" method="post">
                 <input type="text" name="email" placeholder="Email" autocomplete="off"/>
                <input type="password" name="password" placeholder="Password" autocomplete="off"/>
           
            <button type="submit">Sign Me In</button>
            </form>
        </div>
    </div>
</main>
 <%- include("footer") -%>