<%- include("header") -%>
<main class="page-body">
    <div class="content">
     
        <div class="box">
            <form action="/signup" method="post">
                <input type="text" name="firstName" placeholder="First Name" autocomplete="off"/>
                <input type="text" name="lastName" placeholder="Last Name" autocomplete="off"/>
                <input type="text" name="email" placeholder="Email" autocomplete="off"/>
                <input type="password" name="password" placeholder="Password" autocomplete="off"/>
                <input type="password" name="repassword" placeholder="Re enter password" autocomplete="off"/>
            <button type="submit">Register Me</button>
            </form>
        </div>
    </div>
</main>
 <%- include("footer") -%>