<%- include("header") -%>
<main class="page-body">
    <div class="content">
    <h2>Welcome, to our community</h2>
    <p>Thank you <%=name%>, for becomming member of our community. You can now contribute to this community.</p>
    </div>
</main>
 <%- include("footer") -%>